body { background: #fff; }

#content {
	position: absolute;
	width: 60%;
	left: 20%;
	border-radius: 10px;
	margin-top: 16px;
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.15)
}

h3 {
	border-top: 1px solid #eee;
	padding: 16px;
	color: #77a5b6;
	font-size: 14px;
	margin-top: 0;
}

h3:first-of-type {
	border: none;
	padding-top: 16px;
}

p {
	font-size: 14px;
	padding-left: 24px;
	margin-bottom: 24px;
 }

* {
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.no-header {
	border: none;
}

.no-space {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	margin-bottom: 0;
	color: #FF7E00;
}
